# OS files
.DS_Store
Thumbs.db

# Logs
*.log
*.pcap
*.evtx

# Python
__pycache__/
*.pyc

# Elastic / SIEM artifacts
*.ndjson
*.json.bak

# Environment files
.env

# SIEM / Lab artifacts
elastic-dump/
splunk-dump/
screenshots/tmp/

# Editor
.vscode/
.idea/
